@import 'tailwindcss';

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #ffdf8c;
    padding-top: 45px;
    padding-bottom: 45px;
}
